<figure {% if align == 'right' %}class="image-caption travel-book-image-right"{% endif %} {% if align == 'left' %}class="image-caption travel-book-image-left"{% endif %}">
    <a href="{{ slug }}/{{ image.filename }}" class="glightbox">
        <img title="{{ caption }}" alt="" class="caption img-fluid" src="{{ image.quality(100).url }}">
    </a>
    {% if caption %}<figcaption class="figure-caption">{{ caption }}</figcaption>{% endif %}
</figure>